h1{
    font-size: 48px;
    padding: 15px;
    text-align: center;

}

p{
    font-size: 48px;
    padding-bottom: 15px;
    padding-left: center;

}

img{
    width: 350px;
    display: block;
    margin: 0 auto;
    border: 10px dashed #FFFFFF;

}
